@model IEnumerable<ApplicantSurveyApp.Mvc.Dal.Question>

@{
    ViewBag.Title = "SurveyQuestion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SurveyQuestion</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

